<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
    <div class="collection">
      <h2><a href="/questions/<%= question.id %>" > <%= question.title %></a></h2>
    </div>
  <% end %>
</ul>
