<h1>Ask a Question</h1>
<form method='post' action= '/questions'>
  Title:<br>
  <tr>
    <input type="text" name="question[title]" placeholder='Title'>
  </tr><br>
  Description:<br>
  <tr>
    <input type="text" name="question[text]" placeholder='Text'>
  </tr><br>
    <input type="submit" value="Submit">
</form>
