<form action="/questions/<%= @answer.question.id %>/answers/<%= @answer.id %>" method="post">
  <input type='hidden' name="_method" value="put">
  <label>ANSWER:
  <input type="text" name="answer[text]" value="<%= @answer.text %>">
  </label>
  <input type="hidden" name="answer[question_id]">
  <input type="submit" value="Submit Changes">
</form>
