<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- Compiled and minified JavaScript -->  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <title></title>
</head>
<body>
<div class="layout-page">
  <a href="/">Home</a>
   <br>
 <% if is_logged_in? %>
   <label>Welcome</label>
   <p><%= @current_user.username.upcase %></p>
   <div>
     <a href='/questions/new'>Add Question</a>
   </div>
   <div>
   <a href="/users/<%= @current_user.id %>">Profile Page</a>
  </div>
   <form id="logout" action="/logout" method="post">
     <input type="hidden" name="_method" value="delete">
     <input type="submit" value="Logout">
   </form>
 <% else %>
   <div>
   <a href="/login">Login</a>
 </div>
   <a href="/users/new">New User</a>
 <% end %>
 </div>
 <div class="container">
   <div class="title">
    <h2>Genius Overflow</h2>
    <h5> Do I contradict myself? </h5>
    <h5> Very well, then I contradict myself </h5>
    <h5> I am large, I contain multitudes.</h5>
   </div>
  <%= yield %>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
